.contatanos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;

    &__img {
        flex: 1 1 40rem;
        margin-right: 10%;
        img {
            width: 100%;
            padding: 2rem;

            animation: float 4.5s linear infinite;
        }

        @keyframes float {

            0%,
            100% {
                transform: translateY(0rem);
            }

            50% {
                transform: translateY(-4.5rem);
            }
        }
    }

    form {
        flex: 1 1 40rem;
        padding: 2rem 3rem;
        border: .1rem solid rgba(0 0 0 / .2);
        box-shadow: 0 .5rem 1rem rgba(0 0 0 / .1);
        border-radius: .5rem;
        background: #fff;

        .heading {
            text-align: left;
            padding-bottom: 2rem;
        }

        .input-box {
            position: relative;


            input,
            textarea {
                width: 100%;
                background: none;
                color: #333;
                margin: 1.5rem 0;
                padding: .5rem 0;
                font-size: 1.7rem;
                border-bottom: .1rem solid rgba(0 0 0 / .1);
                text-transform: none;
            }

            textarea {
                resize: none;
                height: 13rem;

            }

            label {
                position: absolute;
                top: 1.7rem;
                left: 0;
                font-size: 1.7rem;
                transition: .2s linear;
            }

            input:focus~label,
            input:valid~label,
            textarea:focus~label,
            textarea:valid~label {
                top: -.5rem;
                font-size: 1.5rem;
                color: var(--light-green);
            }
        }
    }
}